In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\mehta\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\mehta\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mehta\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mehta\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mehta\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mehta\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [7]:
# pandas-->
#     1) Data Analysis
#     2)Data Exploring
#     3)Data Cleaning
#     4)Data Manupulation
# pandas--->excel,csv(comma seperated values,jason.......

In [9]:
# Data Structures in pandas:
#     1)Series
#     2)DataFrame

In [11]:
# series:a single column table..

# DataFrame-->Collection of series

In [14]:
username=["kriss","moris","harmnr","mega","hello"]

In [16]:
type(username)

list

In [18]:
data=pd.Series(username)
data

0     kriss
1     moris
2    harmnr
3      mega
4     hello
dtype: object

In [20]:
data[4]

'hello'

In [22]:
# change indexing

In [26]:
data=pd.Series(username,index=["a","b","c","d","e"])

In [28]:
data

a     kriss
b     moris
c    harmnr
d      mega
e     hello
dtype: object

create dataframe

In [42]:
df=pd.DataFrame({
    'username' : username,
    'age' : [23,32,34,22,34],
    'phone number' : [234325325,213325235,213124,2335325,3245325]
})

In [44]:
df

  username  age  phone number
0    kriss   23     234325325
1    moris   32     213325235
2   harmnr   34        213124
3     mega   22       2335325
4    hello   34       3245325

In [52]:
type(df)

pandas.core.frame.DataFrame

In [60]:
df["age"]

0    23
1    32
2    34
3    22
4    34
Name: age, dtype: int64

In [62]:
type(df["age"])

pandas.core.series.Series

In [75]:
import numpy as np
a=np.arange(4,41,4)
a

array([ 4,  8, 12, 16, 20, 24, 28, 32, 36, 40])

In [77]:
# data frame create

In [147]:
def create_table(x):
    b=[]
    for i in range(1,11):
        
        b.append(f"{x} x {i} = {x*i}")
    return b

In [149]:
create_table(5)

['5 x 1 = 5',
 '5 x 2 = 10',
 '5 x 3 = 15',
 '5 x 4 = 20',
 '5 x 5 = 25',
 '5 x 6 = 30',
 '5 x 7 = 35',
 '5 x 8 = 40',
 '5 x 9 = 45',
 '5 x 10 = 50']

In [152]:
x=["thistrain","thisbusss","thiscarrr","thisbikee"]

In [158]:
def func(v):
    lt=[]
    for i in v:
        v
        lt.append(i)
    return lt
# func("thistrain")

['t', 'h', 'i', 's', 't', 'r', 'a', 'i', 'n']

In [176]:
data=pd.DataFrame({
    'thistrain' : func('thistrain'),
    'thisbusss' : func('thisbusss'),
    'thiscarrr' : func('thiscarrr'),
    'thisbikee' : func('thisbikee')    
})
data

  thistrain thisbusss thiscarrr thisbikee
0         t         t         t         t
1         h         h         h         h
2         i         i         i         i
3         s         s         s         s
4         t         b         c         b
5         r         u         a         i
6         a         s         r         k
7         i         s         r         e
8         n         s         r         e